
form#mainform(action='')
    table#product-table(border='0', width='100%', cellpadding='0', cellspacing='0')
        tr
          th.table-header-repeat.line-left.minwidth-1(width='10')
            序號
          th.table-header-repeat.line-left.minwidth-1(width='58')
            a(href='') 暱稱
          th.table-header-repeat.line-left.minwidth-1(width='68')
            a(href='') facebook
          th.table-header-repeat.line-left(width='192')
            a(href='') Email
          th.table-header-repeat.line-left(width='97')
            a(href='') 手機
          th.table-header-repeat.line-left(width='136')
            a(href='') 上傳影片數量
          th.table-header-repeat.line-left(width='168')
            a(href='') DOOH播放影片數量
        
        if(memberList)
            each member, i in memberList
                if i%2
                    tr
                      td #{i+1}
                      td #{member.fb.userName}
                      td #{member.fb.userID}
                      td 
                        a(href='') xyz@feltmeng.com
                      td 0912345678
                      td #{member.video_count}
                      td #{member.doohTimes}
                else
                    tr.alternate-row
                      td #{i+1}
                      td #{member.fb.userName}
                      td #{member.fb.userID}
                      td 
                        a(href='') xyz@feltmeng.com
                      td 0912345678
                      td #{member.video_count}
                      td #{member.doohTimes}