
form#mainform(action='')
    table#product-table(border='0', width='99%', cellpadding='0', cellspacing='0')
        tr
          th.table-header-repeat.line-left(width='192')
            a(href='') 播放時間
          th.table-header-repeat.line-left(width='192')
            a(href='') 排定時間
          th.table-header-repeat.line-left(width='150')
            a(href='') 播放清單順序
          th.table-header-repeat.line-left(width='160')
            a(href='') 上傳Scala時間
          th.table-header-repeat.line-left(width='160')
            a(href='') 修改排定播放清單
        
        if(historyList)
            each history, i in historyList
                if i%2
                    tr
                      td #{history.intervalOfSelectingUGCStart}~ #{history.intervalOfSelectingUGCEnd}
                      td #{history.intervalOfPlanningDoohProgramesStart}~ #{history.intervalOfPlanningDoohProgramesEnd}
                      td #{history.programSequence}
                      td #{history.pushProgramsTime}
                      td
                         input#history._idSetBtn(type='button', value='編輯', name='#{[history.sessionId, history.intervalOfSelectingUGCStart, history.intervalOfSelectingUGCEnd, history.intervalOfPlanningDoohProgramesStart, history.intervalOfPlanningDoohProgramesEnd, history.programSequence]}')

                else
                    tr.alternate-row
                      td #{history.intervalOfSelectingUGCStart}~ #{history.intervalOfSelectingUGCEnd}
                      td #{history.intervalOfPlanningDoohProgramesStart}~ #{history.intervalOfPlanningDoohProgramesEnd}
                      td #{history.programSequence}
                      td #{history.pushProgramsTime}
                      td
                         input#history._idSetBtn(type='button', value='編輯', name='#{[history.sessionId, history.intervalOfSelectingUGCStart, history.intervalOfSelectingUGCEnd, history.intervalOfPlanningDoohProgramesStart, history.intervalOfPlanningDoohProgramesEnd, history.programSequence]}')
