
form#mainform(action='')

    #condition-inner
      label 查詢影片
      input(class='ugcSearchBtn', type='text' ,name='ugcSearchText' ,onfocus='this.value=\'\'')
      input#ugcSearchBtn(type='button', class='ugcSearch', value='搜尋')
      br
      label
      | 篩選條件
      input(type='button', value='尚未審核')
      input(type='button', value='已經審核')
      input(type='button', value='All')
      | and / or
      label 投件時間
      input(type='datetime-local', name='txtLocalDateTime')
      | 到
      input(type='datetime-local', name='txtLocalDateTime')
      input(type='button', value='送出')
    .clear

    table#product-table(border='0', width='100%', cellpadding='0', cellspacing='0')
        tr
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 影片編號
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 播放時間
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 上傳素材(文)
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 上傳素材(圖)
          th.table-header-repeat.line-left.minwidth-1(width='75')
            a(href='') facebook
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') facebook 照片
          th.table-header-repeat.line-left(width='100')
            a(href='') 已刊登次數
          th.table-header-repeat.line-left(width='200')
            a(href='') 審核

        if(ugcCensorMovieList)
            each ugcCensor, i in ugcCensorMovieList
                if i%2
                    tr
                      td #{ugcCensor.ugcCensorNo}
                      td #{ugcCensor.userContent}
                      td #{ugcCensor.userContent}
                      td
                        img(src='#{ugcCensor.userPhotoUrl}', alt='', width='208')
                      td #{ugcCensor.fb_id}
                      td
                        img(src='#{ugcCensor.fbPictureUrl}', alt='', width='100')
                      td #{ugcCensor.doohPlayedTimes}
                      td
                         #checkboxGroup
                         input(type='checkbox', value='a', name='cb')
                         |   A
                         br
                         input(type='checkbox', value='b', name='cb')
                         |   B
                         br
                         input(type='checkbox', value='c', name='cb')
                         |   C
                         br
                         input(type='checkbox', value='d', name='cb')
                         |   D
                         br
                         input(type='checkbox', value='e', name='cb')
                         |   E
                         br
                         input(type='checkbox', value='f', name='cb')
                         |   F


                else
                    tr.alternate-row
                      td #{ugcCensor.ugcCensorNo}
                      td #{ugcCensor.userContent}
                      td #{ugcCensor.userContent}
                      td
                        img(src='#{ugcCensor.userPhotoUrl}', alt='', width='208')
                      td #{ugcCensor.fb_id}
                      td
                        img(src='#{ugcCensor.fbPictureUrl}', alt='', width='100')
                      td #{ugcCensor.doohPlayedTimes}
                      td
                         input(type='checkbox', value='checkbox')
                         |   A
                         br
                         input(type='checkbox', value='checkbox')
                         |   B
                         br
                         input(type='checkbox', value='checkbox')
                         |   C
                         br
                         input(type='checkbox', value='checkbox')
                         |   D
                         br
                         input(type='checkbox', value='checkbox')
                         |   E
                         br
                         input(type='checkbox', value='checkbox')
                         |   F


