
form#mainform(action='')

    #condition-inner
      label 查詢影片
      input(class='ugcSearchBtn', type='text' ,name='ugcSearchText' ,onfocus='this.value=\'\'')
      input#ugcSearchBtn(type='button', class='ugcSearch', value='搜尋')
      br
      label
      | 篩選條件
      input#ugcSearchNoRatingBtn(type='button', value='尚未審核')
      input#ugcSearchRatingBtn(type='button', value='已經審核')
      input#ugcSearchAllBtn(type='button', value='All')
      | and / or
      label 投件時間
      input(class='ugcSearchDateBtn', type='datetime-local', name='TimeStart', onfocus='this.value=\'\'')
      | 到
      input(class='ugcSearchDateBtn', type='datetime-local', name='TimeEnd', onfocus='this.value=\'\'')
      input#ugcSearchDateBtn(type='button', class='ugcSearchDate', value='送出')
    

    table#product-table(border='0', width='100%', cellpadding='0', cellspacing='0')
        tr
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 影片編號
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 播放時間
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 上傳素材(文)
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 上傳素材(圖)
          th.table-header-repeat.line-left.minwidth-1(width='75')
            a(href='') facebook
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') facebook 照片
          th.table-header-repeat.line-left(width='100')
            a(href='') 已刊登次數
          th.table-header-repeat.line-left(width='200')
            a(href='') 審核

        if(ugcCensorMovieList)
            each ugcCensor, i in ugcCensorMovieList
                if i%2
                    tr
                      td #{ugcCensor.ugcCensorNo}
                      td #{ugcCensor.userContent}
                      td #{ugcCensor.userContent}
                      td
                        img(src='#{ugcCensor.userPhotoUrl}', alt='', width='208')
                      td #{ugcCensor.fb_id}
                      td
                        img(src='#{ugcCensor.fbPictureUrl}', alt='', width='100')
                      td #{ugcCensor.doohPlayedTimes}
                      td
                         #checkboxGroup
                         input#ugcCensor.ugcCensorNoa(type='radio', value='a', name='#{ugcCensor.ugcCensorNo}')
                         |   A
                         br
                         input#ugcCensor.ugcCensorNob(type='radio', value='b', name='#{ugcCensor.ugcCensorNo}')
                         |   B
                         br
                         input#ugcCensor.ugcCensorNoc(type='radio', value='c', name='#{ugcCensor.ugcCensorNo}')
                         |   C
                         br
                         input#ugcCensor.ugcCensorNod(type='radio', value='d', name='#{ugcCensor.ugcCensorNo}')
                         |   D
                         br
                         input#ugcCensor.ugcCensorNoe(type='radio', value='e', name='#{ugcCensor.ugcCensorNo}')
                         |   E
                         br
                         input#ugcCensor.ugcCensorNof(type='radio', value='f', name='#{ugcCensor.ugcCensorNo}')
                         |   F
                         .clear


                else
                    tr.alternate-row
                      td #{ugcCensor.ugcCensorNo}
                      td #{ugcCensor.userContent}
                      td #{ugcCensor.userContent}
                      td
                        img(src='#{ugcCensor.userPhotoUrl}', alt='', width='208')
                      td #{ugcCensor.fb_id}
                      td
                        img(src='#{ugcCensor.fbPictureUrl}', alt='', width='100')
                      td #{ugcCensor.doohPlayedTimes}
                      td
                         #checkboxGroup
                         input#ugcCensor.ugcCensorNoa(type='radio', value='a', name='#{ugcCensor.ugcCensorNo}')
                         |   A
                         br
                         input#ugcCensor.ugcCensorNob(type='radio', value='b', name='#{ugcCensor.ugcCensorNo}')
                         |   B
                         br
                         input#ugcCensor.ugcCensorNoc(type='radio', value='c', name='#{ugcCensor.ugcCensorNo}')
                         |   C
                         br
                         input#ugcCensor.ugcCensorNod(type='radio', value='d', name='#{ugcCensor.ugcCensorNo}')
                         |   D
                         br
                         input#ugcCensor.ugcCensorNoe(type='radio', value='e', name='#{ugcCensor.ugcCensorNo}')
                         |   E
                         br
                         input#ugcCensor.ugcCensorNof(type='radio', value='f', name='#{ugcCensor.ugcCensorNo}')
                         |   F
                         .clear

